


  <div style="overflow-x:auto;">

    <h3 style="text-align: center; color:blue;"> Menu Items - {{items.menuItems.length}} results</h3> 
    
    <table >
        <thead>
            <tr>
                <th>
                    Short Name
                </th>
                <th>
                    Name
                </th>
              
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="item in items.menuItems">
                <th>
                    {{ item.short_name }}
                </th>
                <th>
                    {{ item.name }}
                </th>
               
                <th>
                  {{ item.description }}
                </th>
            </tr>
        </tbody>
    </table>
    
    
        
    </div>