<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
  <div  ng-controller="NarrowItDownController as narrowButton">
    <div class="container">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
  
      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="narrowButton.searchKeyWord">
      </div>
      <div class="form-group narrow-button" >
        <button class="btn btn-primary" ng-click="narrowButton.getMatchedMenuItems();">Narrow It Down For Me!</button>
        <br>
      </div>
   
    </div>
    <!-- found-items should be implemented as a component -->
   
    <found-items ng-if="narrowButton.found.length>0"
    items="narrowButton.found"
    title="{{narrowButton.title}}"
    on-remove="narrowButton.removeItem(index)"></found-items>
    <div style="color: green;font-size: large;font-weight: bold;" ng-if="narrowButton.found.length===0 && narrowButton.searched">Nothing Found!</div>
  </div>
  

</body>
</html>
